body{
    background-color: rgb(193, 255, 255);
}



h1{
    text-align: center;
    color: rgb(3, 19, 60);
    background-color: rgb(193, 255, 255);
}



h2{
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(3, 19, 60);
}



p{
    text-align: center;


}



ul{
    text-align: center;


}



li{
    text-align: center;


}



img{ 
    width: 140px;
    border-radius: 50%;

}



div{
    text-align: center;


}



ayrton{
    text-align: center;
    color: red;
    
}



NASA{
    text-align: center;
    color: rgb(137, 59, 255);
    
}



USP{
    text-align: center;
    color: rgb(137, 59, 255) ;

}